@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Rosario:700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-uniE900:before {
  content: "\e900";
  color: #e11c4b;
}

._icon-buy:before {
  content: "\e901";
  color: #8d8d8d;
}

._icon-cart:before {
  content: "\e902";
  color: #8d8d8d;
}

._icon-favorites:before {
  content: "\e904";
  color: #8d8d8d;
}

._icon-profile:before {
  content: "\e907";
  color: #8d8d8d;
}

._icon-search:before {
  content: "\e908";
  color: #e11c4b;
}

._icon-shop:before {
  content: "\e909";
  color: #8d8d8d;
}

._icon-telegram:before {
  content: "\e90a";
  color: #8d8d8d;
}

._icon-vk:before {
  content: "\e90b";
  color: #8d8d8d;
}

._icon-youtube:before {
  content: "\e90c";
  color: #8d8d8d;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 71.875rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}
.icon-menu {
  display: none;
}

.header__container {
  display: -ms-grid;
  display: grid;
  gap: 30px;
}

.header__small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
  padding-top: 10px;
  position: relative;
}

.header__small::after {
  content: "";
  width: 400%;
  height: 2px;
  background-color: #E8E8E8;
  position: absolute;
  bottom: -10px;
  left: -100%;
}

.header__location {
  line-height: 19px;
  color: #333333;
  padding-left: 24px;
  position: relative;
}

.header__location::before {
  content: "";
  background: url(../img/icons/map.svg) center/100% no-repeat;
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  width: 18px;
  height: 18px;
}

.header__shops {
  line-height: 19px;
  color: #333333;
  position: relative;
}

.header__shops::before {
  position: absolute;
  top: 50%;
  left: -24px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.header__phone {
  line-height: 19px;
  color: #333333;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.header__phone::before {
  content: "";
  background: url(../img/icons/phone.svg) center/100% no-repeat;
  position: absolute;
  top: 50%;
  right: 132px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  width: 18px;
  height: 18px;
}

.header__items {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  position: relative;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 25px;
}

@supports (gap: clamp( 0.3125rem , -1.0675424628rem  +  4.2462845011vw , 1.5625rem )) {
  .header__item {
    gap: clamp( 0.3125rem , -1.0675424628rem  +  4.2462845011vw , 1.5625rem );
  }
}

@supports not (gap: clamp( 0.3125rem , -1.0675424628rem  +  4.2462845011vw , 1.5625rem )) {
  .header__item {
    gap: calc(0.3125rem + 1.25 * (100vw - 32.5rem) / 29.4375);
  }
}

.header__logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.105em;
  color: #E11C4B;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@supports (font-size: clamp( 1.125rem , 0.8489915074rem  +  0.8492569002vw , 1.375rem )) {
  .header__logo {
    font-size: clamp( 1.125rem , 0.8489915074rem  +  0.8492569002vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.8489915074rem  +  0.8492569002vw , 1.375rem )) {
  .header__logo {
    font-size: calc(1.125rem + 0.25 * (100vw - 32.5rem) / 29.4375);
  }
}

.header__search {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  height: 46px;
  width: 100%;
  max-width: 523px;
}

.header__button {
  position: relative;
}

.header__button::before {
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.header__input {
  padding-left: 40px;
  width: 100%;
  outline: none;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 0.625rem , -2.3884529148rem  +  6.2780269058vw , 1.5rem )) {
  .header__info {
    gap: clamp( 0.625rem , -2.3884529148rem  +  6.2780269058vw , 1.5rem );
  }
}

@supports not (gap: clamp( 0.625rem , -2.3884529148rem  +  6.2780269058vw , 1.5rem )) {
  .header__info {
    gap: calc(0.625rem + 0.875 * (100vw - 48rem) / 13.9375);
  }
}

.header__name {
  line-height: 19px;
  color: #333333;
  padding-top: 2px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__name:hover {
  color: #E11C4B;
}

.header__login,
.header__buy,
.header__favorites,
.header__cart {
  position: relative;
}

.header__login::before,
.header__buy::before,
.header__favorites::before,
.header__cart::before {
  position: relative;
  top: 0px;
  left: 35%;
}

.header__menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  padding-left: 8px;
  position: relative;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header__product::-webkit-scrollbar {
  display: none;
}

.header__product:last-of-type {
  padding-right: 19px;
}

.header__button-scroll {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 1px solid #8D8D8D;
  border-radius: 50%;
  position: absolute;
  bottom: 1%;
  right: 0;
  cursor: pointer;
}

.header__button-scroll::before {
  content: "";
  background: url(../img/icons/arrow.svg) center/100% no-repeat;
  width: 5px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 2;
  cursor: pointer;
}

.header__product-link {
  line-height: 19px;
  color: #333333;
  white-space: nowrap;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  position: relative;
}

.header__product-link:first-child {
  color: #E11C4B;
  padding-left: 24px;
}

.header__product-link:first-child::before {
  position: absolute;
  top: 0;
  left: -6px;
}

.header__product-link:hover {
  color: #E11C4B;
}

.menu__catalog {
  display: none;
}

.menu-open .menu__catalog {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  display: block;
  padding-bottom: 18px;
}

.menu__body {
  display: none;
}

.menu-open .menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -ms-grid;
  display: grid;
  gap: 16px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  position: relative;
}

.menu__item img {
  width: 32px;
  height: 32px;
}

.menu__item:not(:last-child)::after {
  content: "";
  width: 160%;
  height: 2px;
  background-color: #E8E8E8;
  position: absolute;
  bottom: -8px;
  left: -18px;
}

.menu__link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #333333;
}

.menu__link::after {
  content: "";
  width: 8px;
  height: 15px;
  background: url(../img/icons/arrow.svg) center/100% no-repeat;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.footer {
  background-color: #F4F4F4;
}

.footer__container {
  padding-top: 36px;
  padding-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.footer__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.footer__links {
  line-height: 19px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 1.5625rem , 0.7020348837rem  +  4.3023255814vw , 3.875rem )) {
  .footer__links {
    gap: clamp( 1.5625rem , 0.7020348837rem  +  4.3023255814vw , 3.875rem );
  }
}

@supports not (gap: clamp( 1.5625rem , 0.7020348837rem  +  4.3023255814vw , 3.875rem )) {
  .footer__links {
    gap: calc(1.5625rem + 2.3125 * (100vw - 20rem) / 53.75);
  }
}

.footer__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__link:hover {
  color: #E11C4B;
}

.footer__contact {
  line-height: 19px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 1.5625rem , 0.7020348837rem  +  4.3023255814vw , 3.875rem )) {
  .footer__contact {
    gap: clamp( 1.5625rem , 0.7020348837rem  +  4.3023255814vw , 3.875rem );
  }
}

@supports not (gap: clamp( 1.5625rem , 0.7020348837rem  +  4.3023255814vw , 3.875rem )) {
  .footer__contact {
    gap: calc(1.5625rem + 2.3125 * (100vw - 20rem) / 53.75);
  }
}

.footer__phone,
.footer__mail {
  position: relative;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__phone:hover,
.footer__mail:hover {
  color: #E11C4B;
}

.footer__phone::before {
  content: "";
  background: url(../img/icons/phone.svg) center/100% no-repeat;
  position: absolute;
  top: 50%;
  right: 132px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  width: 19px;
  height: 19px;
}

.footer__mail::before {
  content: "";
  background: url(../img/icons/mail.svg) center/100% no-repeat;
  position: absolute;
  top: 50%;
  right: 100px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  width: 26px;
  height: 17px;
}

.footer__rights {
  font-size: 14px;
  line-height: 20px;
  color: #8D8D8D;
  white-space: nowrap;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.social__vk,
.social__youtube,
.social__telegram {
  position: relative;
}

.social__vk::before,
.social__youtube::before,
.social__telegram::before {
  font-size: 24px;
  position: relative;
  z-index: 2;
}

.social__vk::after,
.social__youtube::after,
.social__telegram::after {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #8D8D8D;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.discounts__container {
  display: -ms-grid;
  display: grid;
  gap: 36px;
  padding-top: 36px;
}

@supports (padding-bottom: clamp( 3rem , 1.8837209302rem  +  5.5813953488vw , 6rem )) {
  .discounts__container {
    padding-bottom: clamp( 3rem , 1.8837209302rem  +  5.5813953488vw , 6rem );
  }
}

@supports not (padding-bottom: clamp( 3rem , 1.8837209302rem  +  5.5813953488vw , 6rem )) {
  .discounts__container {
    padding-bottom: calc(3rem + 3 * (100vw - 20rem) / 53.75);
  }
}

.discounts__image img {
  width: 100%;
  border-radius: 30px;
}

.discounts__info {
  display: -ms-grid;
  display: grid;
  gap: 18px;
}

.discounts__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #333333;
  max-width: 1080px;
}

.discounts__date {
  font-size: 22px;
  line-height: 26px;
  color: #939393;
}

.discounts__text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-top: 6px;
}

.discounts__text span {
  display: block;
  padding-top: 14px;
}

@media (min-width: 521px) {
  .header__menu {
    display: none;
  }
}

@media (max-width: 768px) {
@supports (gap: clamp( 0.625rem , -1.9959677419rem  +  8.064516129vw , 1.875rem )) {
    .header__info {
      gap: clamp( 0.625rem , -1.9959677419rem  +  8.064516129vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.625rem , -1.9959677419rem  +  8.064516129vw , 1.875rem )) {
    .header__info {
      gap: calc(0.625rem + 1.25 * (100vw - 32.5rem) / 15.5);
    }
}

  .header__name {
    display: none;
  }

  .header__button-scroll {
    display: none;
  }

  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 5px;
  }

  .footer__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 350px;
    gap: 24px;
  }

  .footer__links {
    gap: 24px;
  }

  .footer__contact {
    gap: 24px;
  }

  .footer__phone,
  .footer__mail {
    padding-left: 24px;
  }

  .footer__rights {
    font-size: 14px;
  }

  .social__vk::after,
  .social__youtube::after,
  .social__telegram::after {
    top: 11%;
  }
}

@media (max-width: 521px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #8D8D8D;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu-open .icon-menu {
    position: absolute;
    top: 10%;
    right: 0;
  }
}

@media (max-width: 520px) {
  .header__small {
    display: none;
  }

  .header__location {
    height: 24px;
  }

  .header__location p {
    display: none;
  }

  .header__shops::before {
    left: 0;
  }

  .header__shops {
    width: 24px;
    height: 24px;
  }

  .header__shops p {
    display: none;
  }

  .header__item {
    gap: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: 88px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    text-align: end;
  }

  .header__search {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 84%;
            flex: 0 1 84%;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .header__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 43%;
            flex: 0 1 43%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__login,
  .header__favorites,
  .header__cart {
    display: none;
  }

  .header__buy::before {
    left: 0%;
  }

  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
    overflow-x: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #fff;
    padding-left: 10px;
    padding-bottom: 1.875rem;
  }

@supports (padding-top: clamp( 1.875rem , 1.4563953488rem  +  2.0930232558vw , 3rem )) {
    .menu__body {
      padding-top: clamp( 1.875rem , 1.4563953488rem  +  2.0930232558vw , 3rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.4563953488rem  +  2.0930232558vw , 3rem )) {
    .menu__body {
      padding-top: calc(1.875rem + 1.125 * (100vw - 20rem) / 53.75);
    }
}

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: transparent;
  }

@supports (min-height: clamp( 3.75rem , 2.8197674419rem  +  4.6511627907vw , 6.25rem )) {
    .menu__body::before {
      min-height: clamp( 3.75rem , 2.8197674419rem  +  4.6511627907vw , 6.25rem );
    }
}

@supports not (min-height: clamp( 3.75rem , 2.8197674419rem  +  4.6511627907vw , 6.25rem )) {
    .menu__body::before {
      min-height: calc(3.75rem + 2.5 * (100vw - 20rem) / 53.75);
    }
}

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .footer__links {
    gap: 25px;
    font-size: 14px;
  }

  .footer__contact {
    gap: 8px;
    font-size: 14px;
    padding-left: 6px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__phone,
  .footer__mail {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__phone::before {
    left: -5px;
  }

  .footer__mail::before {
    left: -5px;
  }

  .footer__rights {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 12px;
  }

  .footer__social {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-left: 6px;
  }

  .social__vk::before,
  .social__youtube::before,
  .social__telegram::before {
    font-size: 18px;
  }

  .social__vk::after,
  .social__youtube::after,
  .social__telegram::after {
    top: 48%;
    width: 30px;
    height: 30px;
  }
}
